@import "colors.css";

* {
    border:        none;
    border-radius: 0;
    font-family:   'JetBrainsMono Nerd Font Mono';
    font-size:     13px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
    min-height: 0;    
    
}

window {
    color:    @fg1;
    background: @bg;
}

window#waybar.solo {
    color:    @fg1;
    background: @bg;
}

#tray {
  margin-right: 5px;
}

#workspaces {
    margin: 0 5px;
    background-color: @bg;
}

#workspaces button {
  background-color:     @bg;
  color:                @fg;
  padding:    0 5px;
  border:     0.5px solid @gray;
  min-width: 0;
}

#workspaces button.visible, 
#workspaces button.active
{
  background-color:     @fg4;
  color:                @bg;
}


#workspaces button.active {
  border-bottom: 3px solid rgba(255, 255, 255, 1);
}

#workspaces button.urgent {
    background-color:   @red;
    color:              @fg;
}

#workspaces button:hover {
    background-color:      rgba(217, 216, 216, 0.5);
    color:                rgba(0, 0, 0, 1);
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail {
    margin:     0px 5px 0px 5px;
    min-width:  25px;
}

#clock {
  margin:     2px 16px 2px 10px;
  min-width:  140px;
}

#battery.warning {
   color:     @yellow;
}

#battery.critical {
    color:    @red;
}

#battery.charging {
    color:    @fg1;
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}

#custom-sep {
  color:      @grey;
}
